@model List<string>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>@ViewBag.Titulo</h3>
<p>Estos son nuestros clientes:</p>
<ul>
    @foreach (string s in Model)
    {
        <li>@s</li>
    }
</ul>
